<h1>学習ノート一覧</h1>

<div>
  <div>
    <h2>プレイヤーエリア</h2>

    <div>
      <p>選択中のノートタイトル</p>
      <h3>ノートを選択してください</h3>
    </div>

    <div class="player-buttons">
  <button type="button" class="player-button play-button">
    再生
  </button>

  <button type="button" class="player-button stop-button">
    停止
  </button>

  <button type="button" class="player-button repeat-button">
    リピート
  </button>
</div>
  </div>

  <div>
    <h2>タイトル一覧</h2>

    <%= link_to "ノートを投稿する", new_note_path %>

    <% @notes.each do |note| %>
      <div>
        <%= note.title %>
      </div>
    <% end %>
  </div>
</div>