<h1>学習ノート一覧</h1>

<div>
  <div>
    <h2>学習ノート</h2>
    <p>左側エリアは今後プレイヤーなどを配置予定です。</p>
  </div>

  <div>
    <h2>タイトル一覧</h2>

    <%= link_to "ノートを投稿する", new_note_path %>

    <% @notes.each do |note| %>
      <div>
        <%= note.title %>
      </div>
    <% end %>
  </div>
</div>