<footer class="footer">
  <div class="footer__links">
    <%= link_to '利用規約', terms_path %>
    <%= link_to 'プライバシーポリシー', privacy_path %>
  </div>

  <p class="footer__copy">
    © EarStudy
  </p>
</footer>