<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">
      目が使えない時間も、<br>
      学習を止めない。
    </h1>

    <p class="hero__text">
      EarStudyは、学習ノートを音声で読み上げることで、<br>家事中や移動中でも学習を続けられるアプリです。
    </p>

    <%= link_to "無料で始める", new_user_registration_path, class: "hero__button" %>
  </div>
</section>